<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="/aboutus" class="item">Find Us Here</a>
                    <a href="/faq" class="item">FAQ</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="/profile" class="item">Profile</a>
                    <a href="/premium" class="item">GoPremium</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <a href="https://www.facebook.com/HealthNow-311260752902495/" target="_blank">
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>
                        Facebook
                    </button>
                </a>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
            </div>
        </div>
    </div>
</div>