<div class="ui container text-area">
        <div class="ui large secondary inverted pointing menu banner-border">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a href="/home" class="active item">Home</a>
            <% if(isLoggedIn) { %>
                <a href="/profile" class="item">Profile</a>
            <% } %>
            <a href="/feedback" class="item">Feedback</a>
            <a class="item" href="/aboutus">About us</a>
            <% if(isLoggedIn) { %>
                <a class=" item" href="/premium">Go Premium</a>
            <% } %>
            <div class="right item">
                <% if(!isLoggedIn) { %>
                    <a class="ui inverted button loginBtn">Log in</a>
                    <a class="ui inverted button signUpBtn">Sign Up</a>
                <% } else { %>
                    <a href="/logout" class="ui inverted button logoutBtn">Logout</a>
                <% } %>            
            </div>  
        </div>
</div>