<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container text-area">
        <a href="/home" class="active item">Home</a>
        <% if(isLoggedIn) { %>
            <a href="/profile" class="item">Profile</a>
        <% } %>
        <a href="/feedback" class="item">Feedback</a>
        <a class="item" href="/aboutus">About us</a>
        <div class="right menu">
            <% if(!isLoggedIn) { %>
                <div class="item">
                    <a class="ui button loginBtn">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button signUpBtn">Sign Up</a>
                </div>
            <% } else { %>
                <div class="item">
                    <a class="ui primary button logoutBtn">Logout</a>
                </div>
            <% } %>
        </div>
    </div>
</div>


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
        <a href="/home" class="active item">Home</a>
        <% if(isLoggedIn) { %>
            <a href="/profile" class="item">Profile</a>
        <% } %>
        <a href="/feedback" class="item">Feedback</a>
        <a class="item" href="/aboutus">About-us</a>
        <% if(!isLoggedIn) { %>
            <a class="item">Login</a>
            <a class="item">Signup</a>
        <% } else { %>
            <a class="item">Logout</a>
        <% } %>
    </div>