footer {
    background: #1B1C1D;
    height: 200px;
}
.footer-main {
    flex-grow: 1;
}
.footer-content {
    color: #cccccc;
    width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
}
.text-spacing {
    margin-bottom: 15px;
}
.footer-text {
    font-size: 14px;
}
img {
    width: 20px;
}